.u-no-select 
  user-select none


.u-fullscreen 
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.u-flex-center 
  display flex
  justify-content center
  align-items center

.u-flex-space 
  display flex
  justify-content space-between

.u-flex-end 
  display flex
  justify-content flex-end
  align-items center

.u-no-overflow 
  overflow hidden