desktop-l = "screen and (max-width: " + 1440px + "))"
desktop-m = "screen and (max-width: " + 1024px + "))"
mobile = "screen and (max-width: " + 767px + "))"
portrait = "screen and (orientation: portrait)"
landscape = "screen and (orientation: landscape)"
