/**
* Components
*/
@import 'Home.styl';


body 
    overflow-x hidden

canvas 
    width: 100%
    height 100%

.date
    display none
    position absolute 
    bottom 20px 
    right 20px
    font-family: var(--font-text)
    font-weight: bold

.link
    display none
    position absolute 
    top 20px 
    left 20px
    font-family: var(--font-text)
    font-weight: bold
    color black
    text-decoration none

.sh 
    position relative


.container 
    display flex
    flex-flow wrap
    &__title 
        width 98%
        font-family: var(--font-text)
        font-weight: bold
        font-size 20px
        margin 20px 0 0 2%
