/**
* Components
*/
@import 'Home.styl';


body 
    overflow hidden

canvas 
    width: 100%
    height 100%

.date
    position fixed 
    bottom 20px 
    right 20px
    font-family: var(--font-text)
    font-weight: bold